body #graph-page
  height 100%
  position absolute
  right 0
  overflow hidden
  background-color #66CCCC
  font-family font-default
  #graph-box
    padding 10px
    overflow :auto
    #graph-topbar
      font-size 15px
      display:block
      .textLink
        color #454857
        position relative
    #graph-title
      font-size 16px
      text-align center
      margin 5px 0 5px 0
    #graph-main
      margin 0 60px 0 0
      position relative
      .graph-individual
        position relative
        .axis-number
          position absolute
          font-size 12px
          color #000000
        .axis-unit
          position absolute
          font-size 14px
          color #000000
          top -10px
        .graph-leftList
          position absolute
          margin-right 10px
          height 100%
          width 70px
          left 0
          top 0
        .graph-bottomList
          position absolute
          margin-top 10px
          width 100%
          height 60px
          left 0
          bottom 0
        table.graph-table-legend
          position absolute
          width auto
          right 10px
          top 10px
          background-color rgba(255, 255, 255, 0.6)
          border 1px solid #cccccc
          font-size 8px
          margin 12px
          border-collapse collapse
          tr.graph-table-row
            display table-row
            vertical-align inherit
            border-color inherit
            cursor:pointer
            td.graph-table-swatch-column
              vertical-align middle
              display table-cell
              text-align center
              padding 2px
              div.table-legend-swatch-outline
                border 1px solid #cccccc
                padding 1px
                div.table-legend-swatch
                  width 0
                  height 0
                  border-top-width 5px
                  border-bottom-width 5px
                  border-left-width 6px
                  border-right-width 6px
                  border-top-style solid
                  border-bottom-style solid
                  border-left-style solid
                  border-right-style solid
            td.graph-table-legend-label
              color #696969
              padding-right 3px
        .graph-action
          .graph-action-tip
            position absolute
            background rgba(208, 208, 208, 0.6)
            border 1px solid #cccccc
            padding 4px
            width auto
            height 10px
            font-size 8px
            line-height 10px
            color #444
            margin 5px
            -webkit-user-select:none
            -moz-user-select:none
            -ms-user-select:none
            user-select:none

bezier-aside = cubic-bezier(.3,.3,.1,1)
#graph-page.visionAll
  z-index 8
  box-shadow -5px 0 15px color-shadow
  transition box-shadow 1200ms bezier-aside
  transform scale(1,1)
  #graph-box
    opacity 1
    transition:opacity 1200ms bezier-aside
#graph-page.silence
  z-index -8
  background-color transparent
  box-shadow 0 0 transparent
  overflow hidden
  #graph-box
    opacity 0
#graph-page.run
  z-index 8
  background-color transparent
  box-shadow 0 0 transparent
  div#background-circle
    -webkit-animation graph-vision 400ms bezier-aside
    -moz-animation graph-vision 400ms bezier-aside
    animation graph-vision 400ms bezier-aside
  #graph-box
    opacity 0
#graph-page.disappear
  opacity 0
  transform scale(0.7,0.7)
  overflow hidden
  transition transform 300ms bezier-aside, opacity 300ms bezier-aside