#parameter-menu
  background #FFFFFF
  position absolute
  box-shadow 0 1px 8px #888
  font-family Microsoft Yahei Light
  user-select none
  .parameter-title
    font-size 20px
    height auto
    color #FFFFFF
    text-align center
    line-height 35px
    background-color color-blue-aside
  .st-menu-input-group
    font-family font-label
    position relative
    margin 5px 10px 5px 10px
    input
      position absolute
      color #5264AE
      font-size 15px
      padding 5px 5px 0 5px
      width 80px
      height 22px
      border none
      border-bottom 1px solid color-gray
      margin 0
      transform translateY(-1px)
      background-color #FFFFFF
      &:focus
        outline none
      &:focus ~ .st-menu-input-bar:before
        width 100%
    .st-menu-input-bar
      position relative
      display block
      width 90px
      &:before
        content ''
        height 2px
        width 0
        bottom -2px
        position absolute
        background #5264AE
        transition all time-input bezier-aside
  .st-menu-input-introduce
    display inline-block
    padding-top 5px
    font-size 15px
    cursor default
    font-family "Microsoft YaHei"
  .st-menu-input-unit
    font-size 17px
    position absolute
    top 8px
    cursor default
    font-family font-text
  .parameter-bottom-line
    position relative
    margin 8px 5px 5px 5px
    height 23px
    .parameter-bottom
      font-size 15px
      display block
      margin 5px 10px 5px 15px
      float right
      cursor default
    .parameter-bottom#parameter-bottom-accept
      color color-blue-aside
  #parameter-menu-triangle-down
    position absolute
    width 0
    height 0
    border-left 6px solid transparent
    border-right 6px solid transparent
    border-top 10px solid #FFFFFF
    transform translateX(-6px)
  #parameter-menu-triangle-down.triangle-up
    border-bottom 10px solid #2196F3
    top -10px
    border-top-width 0

#parameter-menu.parameter-open
  transform scale(1,1)
  opacity 1
  z-index 20
  animation parameter-open 300ms cubic-bezier(.18,.37,.27,1.3)
#parameter-menu.parameter-close
  transform scale(0.2,0.2)
  opacity 0
  z-index -10
  animation parameter-close 300ms bezier-aside

#parameter-menu.parameter-error-0 #parameter-0 .st-menu-input-bar:before
  width 100%
  background red
#parameter-menu.parameter-error-1 #parameter-1 .st-menu-input-bar:before
  width 100%
  background red
#parameter-menu.parameter-error-2 #parameter-2 .st-menu-input-bar:before
  width 100%
  background red
#parameter-menu.parameter-error-3 #parameter-3 .st-menu-input-bar:before
  width 100%
  background red
#parameter-menu.parameter-error-4 #parameter-4 .st-menu-input-bar:before
  width 100%
  background red