@import '../../css/variable'

.input-verifiable
    position relative

    input
        width 100%
        font-size inherit
        outline 0
        border-bottom 1px solid Gray
        background-color White
        color Dark-Blue
        padding 0 5px
        box-sizing border-box
        &:focus
            outline 0

    .input-bar:before
        content ''
        height 2px
        width 0
        bottom 4px
        left 0
        position absolute
        background Dark-Blue
        transition width 300ms

    input:focus ~ .correct-bar:before
        width 100%

    .error-bar
        &:before
            background Red
        &.is-error:before
            width 100%

    .input-error-message
        position absolute
        padding 0 5px

    input::-webkit-input-placeholder
        color: Shadow
        font-size: 85%

    input::-ms-input-placeholder
        color: Shadow
        font-size: 85%

    input::-moz-placeholder
        color: Shadow
        font-size: 85%
