@import 'variable';
  
.normal-solid {
  fill: Black;
  stroke: Black;
}

.normal-hollow {
  fill: White;
  stroke: Black;
}

.selected-solid {
  fill: Dark-Green;
  stroke: Black;
}

.selected-hollow {
  fill: White;
  stroke: Dark-Green;
}

.part-text {
  text, tspan {
    white-space: nowrap;
    font-family: font-text;
    fill: Black;
    stroke-width: 0;
  }

  &.placement-top, &.placement-bottom {
    text-anchor: middle;
  }

  &.placement-left {
    text-anchor: end;
  }

  &.placement-right {
    text-anchor: start;
  }
}

.part {
  // &:hover
  //     cursor url(/cur/move_part.cur), crosshair
  .part-point-open:hover {
    cursor: url('src/assets/cursor/draw-line.svg') 16 16, crosshair;
  }
  // .part-point-close:hover
  //     cursor url(/cur/close_point.cur), crosshair
}

.line {
  // ..
}
