@import 'variable';

.part-text {
  text, tspan {
    white-space: nowrap;
    font-family: font-text;
    fill: Black;
    stroke-width: 0;
  }

  &.placement-top, &.placement-bottom {
    text-anchor: middle;
  }

  &.placement-left {
    text-anchor: end;
  }

  &.placement-right {
    text-anchor: start;
  }
}

.normal-solid {
  fill: Black;
  stroke: Black;
}

.normal-hollow {
  fill: White;
  stroke: Black;
}

.selected-solid {
  fill: Dark-Green;
  stroke: Black;
}

.selected-hollow {
  fill: White;
  stroke: Dark-Green;
}
