@import 'variable';

.part-text {
  text, tspan {
    white-space: nowrap;
  }

  &.text-placement-top, &.text-placement-bottom {
    text-anchor: middle;
  }

  &.text-placement-left {
    text-anchor: end;
  }

  &.text-placement-right {
    text-anchor: start;
  }
}

.normal-solid {
  fill: Black;
  stroke: Black;
}

.normal-hollow {
  fill: White;
  stroke: Black;
}

.selected-solid {
  fill: Dark-Green;
  stroke: Black;
}

.selected-hollow {
  fill: White;
  stroke: Dark-Green;
}
