.property-panel-wrapper {

  .property-panel {
    border-left: 1px solid @color-border-light;
  }

  .property-panel-collapsed {
    transform: translate(-32px, 24px);
    position: absolute;
    right: 0;
  }
}
