/* 标准色值 */
@color-primary: #409eff;
@color-primary-light: #d9ecff;
@color-primary-lighter: #ecf5ff;
@color-success: #67c23a;
@color-success-light: #e1f3d8;
@color-success-lighter: #f0f9eb;
@color-warning: #e6a23c;
@color-warning-light: #faecd8;
@color-warning-lighter: #fdf6ec;
@color-danger: #f56c6c;
@color-danger-light: #fde2e2;
@color-danger-lighter: #fef0f0;
@color-info: #909399;
@color-info-light: #e9e9eb;
@color-info-lighter: #f4f4f5;
@color-primary-text: #303133;
@color-regular-text: #606266;
@color-secondary-text: #909399;
@color-placeholder-text: #c0c4cc;
@color-border-base: #dcdfe6;
@color-border-light: #e4e7ed;
@color-border-lighter: #ebeff5;
@color-border-extra-light: #f2f6fc;
@color-black: #000000;
@color-black-light: #1f2d3d;
@color-white: #ffffff;

/* 标准字体 */
@font-default: "Source Han Sans SC", "思源黑体", -apple-system, "PingFang SC", "Hiragino Sans GB",
  "Microsoft YaHei", "WenQuanYi Micro Hei", "Noto Sans CJK SC", sans-serif;

@font-serif: "Source Han Serif", "思源宋体", "Songti SC", STSong, "STZhongsong", "SimSun",
  "Noto Serif CJK SC", Georgia, "Times New Roman", serif;

@font-mono: Menlo, Monaco, Consolas, "Courier New", monospace;

@font-default-size: 16px;
