@import 'variable';

.normal-solid {
  fill: Black;
  stroke: Black;
}

.normal-hollow {
  fill: White;
  stroke: Black;
}

.selected-solid {
  fill: Dark-Green;
  stroke: Black;
}

.selected-hollow {
  fill: White;
  stroke: Dark-Green;
}
