// 主要颜色定义
Blue = #20A0FF;
Dark-Blue = #1D8CE0;
Light-Blue = #58B7FF;
Extra-Light-Blue = #BBDEFB;
Green = #13CE66;
Dark-Green = #009688;
Yellow = #F7BA2A;
Red = #FF4949;
Black = #1F2D3D;
Light-Black = #324057;
Extra-Light-Black = #475669;
Silver = #8492A6;
Light-Silver = #99A9BF;
Extra-Light-Silver = #C0CCDA;
Gray = #D3DCE6;
Gray-Transparent = rgba(0, 0, 0, 0.2);
Light-Gray = #E5E9F2;
Extra-Light-Gray = #EFF2F7;
Dark-White = #F9FAFC;
White = #FFFFFF;
Shadow = #A1A1A1;

// 默认字体，无衬线中英文
font-default = 'Helvetica', 'Arial', 'Hiragino Sans GB', 'WenQuanYi Micro Hei', 'Microsoft YaHei', sans-serif;
// 衬线字体，主要是用在标题等醒目位置
font-serif = 'Georgia', 'Hiragino Sans GB', 'WenQuanYi Micro Hei', 'Microsoft YaHei', serif;
// 器件属性说明文字
font-text = 'Times New Roman', 'Microsoft YaHei';
// 默认字体大小
font-default-size = 16px;

font-smoothing() {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
