<transition
    name="move-slide"
    @beforeEnter="beforeEnter"
    @afterLeave="afterLeave">
    <aside id="slider" v-show="vision">
        <parts-panel ref="parts" v-show="partsPanelDelay"></parts-panel>
        <config-panel ref="config" v-show="configPanelDelay"></config-panel>
        <div
            class="close-button"
            v-show="partsPanelDelay"
            @click="close">
            <span></span>
        </div>
        <div
            class="gray-cover"
            v-show="configPanelDelay"
            @click="close">
        </div>
    </aside>
</transition>
