.right-sidebar-wrapper {

  .right-sidebar {
    border-left: 1px solid @color-border-light;
  }

  .right-sidebar-collapsed {
    transform: translate(-32px, 24px);
    position: absolute;
    right: 0;
  }
}
