@import '../../css/variable'

radius = 4px;

.params-dialog__wrapper
    position fixed
    top 0
    left 0
    height 100%
    width 100%
    z-index 100
    overflow auto
    background-color rgba(0, 0, 0, .2)

    .params-dialog
        position relative
        background White
        border-radius radius
        box-shadow 0 1px 3px rgba(0, 0, 0, .4)
        user-select none
        display inline-block
        transition transform .3s cubic-bezier(.3,.3,.1,1)

    header
        font-size 20px
        height 36px
        color White
        text-align center
        line-height 36px
        margin-bottom 6px
        background-color Blue
        font-family font-serif
        border-top-left-radius: radius
        border-top-right-radius: radius

    article
        padding 0 10px
        display flex
        line-height 24px
        
        > section
            flex-grow 0
            flex-shrink 0
            display inline-flex
            flex-direction column

            > *
                height 24px
                margin-bottom 2px
                line-height inherit
        
        .params__label
            font-size 16px
            font-family font-default
            align-items flex-start
        .params__input
            width 100px
            font-family font-default
            /deep/ .input-bar:before
                bottom 1px

        .params__unit
            font-size 18px
            margin-left 6px
            font-family font-text
            align-items flex-start
            position relative
            top 2px

    footer
        text-align: right;
        margin: 6px;

        button
            font-size: 14px
            background-color transparent
            margin-left: 5px
            padding: 0 5px
            outline: none
            border none
            height: 24px;
            line-height: 24px;

            &:focus
                border: none
                outline: none
            &.confirm
                color: Blue
            &.cancel
                color: Yellow

    // TODO: 三角阴影
    .triangle-icon
        display: inline;
        position: absolute;
        width: 0;
        height: 0;
