*
    margin 0
    padding 0
    border 0
    -webkit-margin-before 0
    -webkit-margin-after 0

.fade-enter-active,
.fade-leave-active
    transition opacity .5s

.fade-enter,
.fade-leave-active
    opacity 0