@import '../../node_modules/quasar/src/css/variables'
@import '../../node_modules/quasar/src/css/normalize'
@import '../../node_modules/quasar/src/css/critical'
@import '../../node_modules/quasar/src/css/core/*'

@import '../../node_modules/quasar/src/mixins/*'
@import '../../node_modules/quasar/src/plugins/*'
@import '../../node_modules/quasar/src/directives/*'

// button
@import '../../node_modules/quasar/src/components/btn/btn-default';
