//各主要颜色定义
color-parts-normal = #3B4449
color-parts-focus = #009688
color-white = #FAFAFA
color-font = #2C3E50
color-blue = #50a0f0
color-green = #8BC34A
color-black = #363E4A
color-gray = #CCC
color-input = #5264AE



// 暂定
color-shadow = #a1a1a1
color-blue = #50a0f0
color-background = #dddddd

color-yellow-light = #f9fbe7
color-purple = #5264AE
color-theme = #f8985c
color-font-nav =#E9CD4C
color-section = #fafafa
color-footer = #1f1f1f
color-gray-aside = #757575
color-heading = #333333

//Font
//默认字体，主要是各种说明性文字，无衬线中英文
font-default = "Helvetica", "Arial", "Hiragino Sans GB", "WenQuanYi Micro Hei", "Microsoft YaHei", sans-serif
//衬线字体，主要是用在标题等醒目位置
font-serif = "Georgia", "Hiragino Sans GB", "WenQuanYi Micro Hei", "Microsoft YaHei", serif
//器件属性说明文字
font-text = "Times New Roman", "Microsoft YaHei"

//Animetion相关参数
//边栏淡入淡出
bezier-aside = cubic-bezier(.3,.3,.1,1)
time-aside = 500ms
//各种输入框的闪烁效果
bezier-input = cubic-bezier(0,1.5,1,1)
time-input = 300ms

font-smoothing()
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale

.clearfix
  overflow auto