@prefix: sidebar;

.@{prefix}-wrapper {
  height: 100%;

  &.@{prefix}-collapsed {
    height: auto;
  }

  .@{prefix} {
    width: 300px;
    height: 100%;
    background-color: @color-white;
    border-right: 1px solid @color-border-light;
    display: flex;
    flex-direction: column;
  }

  .@{prefix}-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 8px;
    height: 48px;
    font-size: 16px;
    border-bottom: 1px solid @color-border-light;

    .@{prefix}-header-title {
      font-weight: 600;
      margin-left: 8px;
      color: @color-primary-text;
    }

    .@{prefix}-header-icon {
      border-radius: 8px;
      display: inline-flex;
      width: 2em;
      height: 2em;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      transition: background-color 0.1s ease-in-out;

      &:hover {
        background-color: @color-extra-white;
      }
    }
  }

  .@{prefix}-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }
}

.left-sidebar-wrapper {
  left: 0;
  z-index: 2;
  position: absolute;

  .left-sidebar {
    border-right: 1px solid @color-border-light;
  }

  .left-sidebar-collapsed {
    transform: translate(32px, 24px);
  }
}

.right-sidebar-wrapper {

  .right-sidebar {
    border-left: 1px solid @color-border-light;
  }

  .right-sidebar-collapsed {
    transform: translate(-32px, 24px);
    position: absolute;
    right: 0;
  }
}
