.container {
  height: 100%;
  width: 100%;
  overflow: hidden;
  color: @color-primary-text;
  font-family: @font-default;
  font-size: @font-default-size;
  display: flex;
  flex-direction: column;
}
