.drawing-sheet {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  background-size: 20px;
  background-position: -40px -40px;
  background-repeat: repeat;
  user-select: none;
  cursor: default;
  outline: none;

  svg {
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
    stroke: Black;
    stroke-width: 2;
    stroke-linecap: round;
    fill: transparent;
  }

  &.move-map {
    cursor: url('src/assets/cursor/move-map.svg') 16 16, crosshair;
  }
  
  &.draw-line {
    cursor: url('src/assets/cursor/draw-line.svg') 16 16, crosshair;
  }
}

.drawing-sheet g {
  :global {
    path {
      stroke: Black;
      stroke-width: 2;
    }

    rect {
      fill: transparent;
      stroke: transparent;
    }

    .fill-white {
      fill: White;
    }

    .fill-black {
      fill: Black;
    }

    polygon.fill-black {
      stroke-width: 0;
    }
  }
}

    // '& path': {
    //   // stroke: Black;
    //   strokeWidth: 2,
    // },

    // '& rect': {
    //   fill: 'transparent',
    //   stroke: 'transparent',
    // },
